*{
    padding: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: white;
}

h1{
    padding: 12px;
    border: 12px;
    text-align: center;
    color: brown;
}
.img{
    padding: 10px;
    
    
}